<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="col-6 mx-auto my-5">
        <div class="text-center pb-5">
            <h1>Welcome to Login</h1>
        </div>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="userName">Username</label>
                <input type="text" class="form-control" id="userName"
                       name="username"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password"
                       name="password"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a th:href="@{'/register'}" role="button" class="btn btn-danger">Register</a>

        </form>
    </div>
</div>
</body>
</html>