<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Home</title>
</head>
<body th:fragment="header (vm)">
<!-- header fixed -->
<div class="wrap_header fixed-header2 trans-0-4">
    <!-- Logo -->
    <a href="index.html" class="logo">
        <img th:src="${vm.getCompanyName()}" alt="IMG-LOGO">
    </a>

    <!-- Menu -->
    <div class="wrap_menu">
        <nav class="menu">
            <ul class="main_menu">
                <li th:each="vm : ${vm.getHeaderMenuVMArrayList()}">
                    <a th:href="${vm.getLink()}" th:text="${vm.getName()}"></a>
                </li>
            </ul>
        </nav>
    </div>

    <form th:action="@{/}" th:object="${productName}" method="get">

        <!-- Header Icon -->
        <div class="header-icons">
            <div sec:authorize="isAuthenticated()">
                <div class="dropdown">
                    <a href="" class="header-wrapicon1 dis-blockdropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img th:src="'/user/images' + ${vm.getAvatar()}" class="header-icon1" alt="IMG-LOGO">
                    </a>
                    <div class="dropdown-menu mt-2" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" th:href="@{/cart}">Cart</a>
                        <a class="dropdown-item" th:href="@{/}">Profile</a>
                        <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                    </div>
                </div>

            </div>

            <div sec:authorize="isAnonymous()">
                <div class="dropdown">
                    <a th:href="@{/login}" class="header-wrapicon1 mr-3">
                        Login
                    </a>
                    <a th:href="@{/register}" class="header-wrapicon1">
                    Register
                    </a>
                </div>
            </div>

            <span class="linedivide1"></span>

        
            <div class="header-wrapicon2">
                <img th:src="@{/user/images/icons/icon-header-02.png}" class="header-icon1 js-show-header-dropdown" alt="ICON">
                <span class="header-icons-noti">0</span>

                <!-- Header cart noti -->
                <div class="header-cart header-dropdown">
                    <ul class="header-cart-wrapitem">
                        <li class="header-cart-item">
                            <div class="header-cart-item-img">
                                <img th:src="@{/user/images/item-cart-01.jpg}" alt="IMG">
                            </div>

                            <div class="header-cart-item-txt">
                                <a href="#" class="header-cart-item-name">
                                    White Shirt With Pleat Detail Back
                                </a>

                                <span class="header-cart-item-info">
    									1 x $19.00
    								</span>
                            </div>
                        </li>

                        <li class="header-cart-item">
                            <div class="header-cart-item-img">
                                <img th:src="@{/user/images/item-cart-01.jpg}" alt="IMG">
                            </div>

                            <div class="header-cart-item-txt">
                                <a href="#" class="header-cart-item-name">
                                    Converse All Star Hi Black Canvas
                                </a>

                                <span class="header-cart-item-info">
    									1 x $39.00
    								</span>
                            </div>
                        </li>

                        <li class="header-cart-item">
                            <div class="header-cart-item-img">
                                <img th:src="@{/user/images/item-cart-01.jpg}" alt="IMG">
                            </div>

                            <div class="header-cart-item-txt">
                                <a href="#" class="header-cart-item-name">
                                    Nixon Porter Leather Watch In Tan
                                </a>

                                <span class="header-cart-item-info">
    									1 x $17.00
    								</span>
                            </div>
                        </li>
                    </ul>

                    <div class="header-cart-total">
                        Total: $75.00
                    </div>

                    <div class="header-cart-buttons">
                        <div class="header-cart-wrapbtn">
                            <!-- Button -->
                            <a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                View Cart
                            </a>
                        </div>

                        <div class="header-cart-wrapbtn">
                            <!-- Button -->
                            <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                Check Out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- top noti -->
<div class="flex-c-m size22 bg0 s-text21 pos-relative">
    20% off everything!
    <a href="product.html" class="s-text22 hov6 p-l-5">
        Shop Now
    </a>

    <button class="flex-c-m pos2 size23 colorwhite eff3 trans-0-4 btn-romove-top-noti">
        <i class="fa fa-remove fs-13" aria-hidden="true"></i>
    </button>
</div>

<!-- Header -->
<header class="header2">
    <!-- Header desktop -->
    <div class="container-menu-header-v2 p-t-26">
        <div class="topbar2">
            <div class="topbar-social">
                <a href="#" class="topbar-social-item fa fa-facebook"></a>
                <a href="#" class="topbar-social-item fa fa-instagram"></a>
                <a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
                <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
                <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
            </div>

            <!-- Logo2 -->
            <a href="/" class="logo2">
                <img th:src="${vm.getCompanyName()}" alt="IMG-LOGO">
            </a>

            <div class="topbar-child2">
					<span class="topbar-email">
						fashe@example.com
					</span>

                <div class="topbar-language rs1-select2">
                    <select class="selection-1" name="time">
                        <option>USD</option>
                        <option>EUR</option>
                    </select>
                </div>

                <!--  -->
                <div sec:authorize="isAuthenticated()">
                    <div class="dropdown">
                        <a href="" class="header-wrapicon1 dis-blockdropdown-toggle m-l-30" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img th:src="'/user/images' + ${vm.getAvatar()}" class="header-icon1" alt="IMG-LOGO">
                        </a>
                        <div class="dropdown-menu mt-2" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" th:href="@{/cart}">Cart</a>
                            <a class="dropdown-item" th:href="@{/}">Profile</a>
                            <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                        </div>
                    </div>
                </div>

                <div sec:authorize="isAnonymous()">
                    <div class="dropdown">
                        <a th:href="@{/login}" class="header-wrapicon1 m-l-30">
                            Login
                        </a>
                        <a th:href="@{/register}" class="header-wrapicon1 m-l-30">
                            Register
                        </a>
                    </div>
                </div>

                <span class="linedivide1"></span>

                <div class="header-wrapicon2 m-r-13">
                    <img th:src="@{/user/images/icons/icon-header-02.png}" class="header-icon1 js-show-header-dropdown" alt="ICON">
                    <span class="header-icons-noti">0</span>

                    <!-- Header cart noti -->
                    <div class="header-cart header-dropdown">
                        <ul class="header-cart-wrapitem">
                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img th:src="@{/user/images/item-cart-02.jpg}" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        White Shirt With Pleat Detail Back
                                    </a>

                                    <span class="header-cart-item-info">
											1 x $19.00
										</span>
                                </div>
                            </li>

                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img th:src="@{/user/images/item-cart-02.jpg}" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        Converse All Star Hi Black Canvas
                                    </a>

                                    <span class="header-cart-item-info">
											1 x $39.00
										</span>
                                </div>
                            </li>

                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img th:src="@{/user/images/item-cart-02.jpg}" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        Nixon Porter Leather Watch In Tan
                                    </a>

                                    <span class="header-cart-item-info">
											1 x $17.00
										</span>
                                </div>
                            </li>
                        </ul>

                        <div class="header-cart-total">
                            Total: $75.00
                        </div>

                        <div class="header-cart-buttons">
                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    View Cart
                                </a>
                            </div>

                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    Check Out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrap_header">

            <!-- Menu -->
            <div class="wrap_menu">
                <nav class="menu">
                    <ul class="main_menu">
                        <li th:each="vm : ${vm.getHeaderMenuVMArrayList()}">
                            <a th:href="${vm.getLink()}" th:text="${vm.getName()}"></a>
<!--                            <ul class="sub_menu">-->
<!--                                <li><a href="index.html">Homepage V1</a></li>-->
<!--                                <li><a href="home-02.html">Homepage V2</a></li>-->
<!--                                <li><a href="home-03.html">Homepage V3</a></li>-->
<!--                            </ul>-->
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Header Icon -->
            <div class="header-icons">

            </div>
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap_header_mobile">
        <!-- Logo moblie -->
        <a href="index.html" class="logo-mobile">
            <img th:src="@{/user/images/icons/logo.png}" alt="IMG-LOGO">
        </a>

        <!-- Button show menu -->
        <div class="btn-show-menu">
            <!-- Header Icon mobile -->
            <div class="header-icons-mobile">
                <div sec:authorize="isAuthenticated()">
                    <a href="#" class="header-wrapicon1 dis-block">
                        <img th:src="'/user/images' + ${vm.getAvatar()}" class="header-icon1" alt="IMG-LOGO">
                    </a>
                </div>

                <span class="linedivide2"></span>

                <div class="header-wrapicon2">
                    <img th:src="@{/user/images/icons/icon-header-02.png}" class="header-icon1 js-show-header-dropdown" alt="ICON">
                    <span class="header-icons-noti">0</span>

                    <!-- Header cart noti -->
                    <div class="header-cart header-dropdown">
                        <ul class="header-cart-wrapitem">
                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img th:src="@{/user/images/item-cart-01.jpg}" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        White Shirt With Pleat Detail Back
                                    </a>

                                    <span class="header-cart-item-info">
											1 x $19.00
										</span>
                                </div>
                            </li>

                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img th:src="@{/user/images/item-cart-02.jpg}" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        Converse All Star Hi Black Canvas
                                    </a>

                                    <span class="header-cart-item-info">
											1 x $39.00
										</span>
                                </div>
                            </li>

                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img th:src="@{/user/images/item-cart-03.jpg}" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        Nixon Porter Leather Watch In Tan
                                    </a>

                                    <span class="header-cart-item-info">
											1 x $17.00
										</span>
                                </div>
                            </li>
                        </ul>

                        <div class="header-cart-total">
                            Total: $75.00
                        </div>

                        <div class="header-cart-buttons">
                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    View Cart
                                </a>
                            </div>

                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    Check Out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
            </div>
        </div>
    </div>

    <!-- Menu Mobile -->
    <div class="wrap-side-menu" >
        <nav class="side-menu">
            <ul class="main-menu">
                <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<span class="topbar-child1">
							Free shipping for standard order over $100
						</span>
                </li>

                <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                    <div class="topbar-child2-mobile">
							<span class="topbar-email">
								fashe@example.com
							</span>

                        <div class="topbar-language rs1-select2">
                            <select class="selection-1" name="time">
                                <option>USD</option>
                                <option>EUR</option>
                            </select>
                        </div>
                    </div>
                </li>

                <li class="item-topbar-mobile p-l-10">
                    <div class="topbar-social-mobile">
                        <a href="#" class="topbar-social-item fa fa-facebook"></a>
                        <a href="#" class="topbar-social-item fa fa-instagram"></a>
                        <a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
                        <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
                        <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
                    </div>
                </li>

                <li class="item-menu-mobile" th:each="vm : ${vm.getHeaderMenuVMArrayList()}">
                    <a th:href="${vm.getLink()}" th:text="${vm.getName()}"></a>
<!--                    <ul class="sub-menu">-->
<!--                        <li><a href="index.html">Homepage V1</a></li>-->
<!--                        <li><a href="home-02.html">Homepage V2</a></li>-->
<!--                        <li><a href="home-03.html">Homepage V3</a></li>-->
<!--                    </ul>-->
                    <i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
                </li>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>